body{
    font-family: Arial;
    background-color: hsl(0, 0%, 95%);
}
h1{
    color: hsl(223,100%,64%)    ;
}

form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);   
    #textbox{
        width: 50%;
        text-align: center;
        font-size: 2em;
        border: 2px solid hsla(0, 0%, 0%, 0.8);
        border-radius: 4px;
        margin-bottom: 15px;
    }
    label{
        font-size: 1.25em;
        font-weight: bold;
    }
    button{
        margin-top: 15px;
        font-size: 1em;
        background-color: hsla(0, 100%, 60%);
        border:none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase ;
        font-weight: 700;
        &:hover{
            background-color: hsl(0, 100%, 50%);
        }
    }
    #result{
        font-size: 1.5em;
        font-weight: bold;
    }
}
